@font-face {
    font-family: 'BentonSans Comp Black';
    src: url('../fonts/BentonSans Comp Black Regular.otf');
}

@for $var from 1 to 6 {
    h#{$var} {
        margin: 0;
        font-family: 'Roboto Condensed';
    }
}

body {
    background-color: #202020;
    color: #FEFEFE;
}

a {
    font-family: 'Roboto Condensed';
    color: darkgray;

    &:hover {color: #FEFEFE;}
}

p {
    font-family: 'Roboto Condensed';
    font-size: 1.3rem;
}

#header {
    font-family: 'BentonSans Comp Black';

    .title {
        h1 {
            font-family: 'BentonSans Comp Black';
            letter-spacing: -1.5px;}
    }
}

#main {
    .subtitle {
        font-family: 'Roboto Condensed';
        color: #FEFEFE;
    }

    .product-tile {
        max-height: 300px;
        max-width: 300px;
        min-height: 300px;
        min-width: 300px;
        background-color: grey;
        
        img {
            transition: .3s;
            height: 300px;
            align-self: center;
        }

        &:hover {
            img {
                height: 320px !important;
            }
        }
    }
}

#footer {
    font-family: 'Roboto Condensed';
    font-size: 1.2rem;
    background-color: #EC1D24;
}

@media (max-width: 600px) {

    #header {
        h1 {
            font-size: 3.5rem;
        }
    }

    #main {
        .products {
            flex-direction: column !important;
            align-items: center !important;
        }

        .product-tile {
            max-height: 470px;
            max-width: 470px;
            min-height: 470px;
            min-width: 470px;

            img {
                height: 500px;
                align-self: center;
            }

            &:hover {
                img {
                    height: 500px !important;
                }
            }
        }
    }
}